<app-icon-button
  [film]="film"
  (favoriteFilm)="emitAddFavorite(film)"
  [color]="isFavoriteFilm ? 'green' : 'red'"
  [style.position]="'absolute'"
  [style.top.px]="10"
  [style.right.px]="10"
  size="xs"
></app-icon-button>
<app-icon-button
  [film]="film"
  [style.position]="'absolute'"
  [style.top.px]="10"
  [style.right.px]="50"
  size="xs"
  icon="external-link"
></app-icon-button>
<div
  [style.maxHeight.px]="300"
  [style.maxWidth.px]="200"
  [style.minWidth.px]="162"
>
  <img
    [style.borderRadius.px]="20"
    [style.width.%]="100"
    [style.height.%]="100"
    [src]="film.posterUrlPreview"
    [alt]="film.nameRu"
  />
</div>
<div
  [style]="{
    display: 'flex',
    flexDirection: 'column',
    gap: '10px',
    justifyContent: 'flex-start',
    marginTop: '10px',
    width: '100%',
  }"
>
  <h3>{{ film.nameRu }}</h3>
  <div
    [style]="{
      display: 'flex',
      alignItems: 'center',
      gap: '5px',
      flexWrap: 'wrap'
    }"
  >
    @if (film.ratingKinopoisk) { @if (film.ratingKinopoisk < 6) {
    <tui-icon
      [style.fontSize.px]="20"
      [style.color]="'red'"
      icon="@tui.frown"
    ></tui-icon>
    } @else if (film.ratingKinopoisk >= 6 && film.ratingKinopoisk < 8) {
    <tui-icon
      [style.fontSize.px]="20"
      [style.color]="'orange'"
      icon="@tui.meh"
    ></tui-icon>
    } @else if (film.ratingKinopoisk >= 8) {
    <tui-icon
      [style.fontSize.px]="20"
      [style.color]="'green'"
      icon="@tui.smile"
    ></tui-icon>
    } } @else {
    <tui-icon [style.fontSize.px]="20" icon="@tui.annoyed"></tui-icon>
    }
    <p>
      {{ film.ratingKinopoisk }}
    </p>
    <p class="genres">( {{ film.genres | genres : 3 }} )</p>
  </div>
  <p [style.maxWidth.px]="500" [style.textWrapStyle]="'balance'">
    {{ film.description | sliceText }}
  </p>
</div>
