:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.header {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-large {
  padding: 0.5rem 1.5rem;
}

.header-small {
  padding: 0.5rem;

  .custom-padding-inline {
    padding: 0 1rem;
  }
}

.header__accessories {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.header__search {
  width: 300px;
}

.main {
  flex: 1 0 auto;
  padding: 0.5rem 1rem;
}

.footer {
  flex-shrink: 0;
  padding: 1rem;
  text-align: center;
}

.drawer {
  top: 0;
  border-radius: 0;
  inline-size: 20rem;
}

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}
