@if (breakpoint$ | async; as bp) { 
  @if (bp !== 'desktopSmall' && bp !== 'mobile') {
    <div class="container-large">
      @for (film of films$ | async; track film.kinopoiskId) {
        <app-card-large
          [film]="film"
          (moreFilm)="moreFilm($event)"
          tuiAppearance="textfield"
          tuiCardLarge
          [style.gap.px]="0"
          [style.width.px]="250"
          [style.padding.px]="0"
        ></app-card-large>
      }
    </div>
  } @else if (bp !== 'mobile') {
    <div class="container-small">
      @for (film of films$ | async; track film.kinopoiskId) {
        <app-card-small
          tuiAppearance="floating"
          class="card"
          [film]="film"
          [isFavoriteFilm]="hasFavoriteFilm(film.kinopoiskId)"
          (favoriteFilm)="addFavorite($event)"
        ></app-card-small>
      }
    </div>
  } @else {
    <div class="container-mobile">
      @for (film of films$ | async; track film.kinopoiskId) {
        <app-card-mobile
          tuiAppearance="floating"
          class="card"
          [film]="film"
        ></app-card-mobile>
      }
    </div>
  } 
  
  <div [style.margin]="'20px 0'">
    <app-pagination
      [page]="page"
      [totalPages]="totalPages"
      (changePage)="goToPage($event)"
   ></app-pagination>
  </div>
}